<div class="admin-wrapper">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Company Name</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input formControlName="name" nz-input placeholder="Company Name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="regirationCountry" nzRequired>Registration Country
            </nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input formControlName="registrationCountry" nz-input placeholder="Registration Country" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyType" nzRequired>Company Type</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group>
                    <input formControlName="companyType" nz-input placeholder="Company Type" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="motto" nzRequired>Motto</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group>
                    <input formControlName="motto" nz-input placeholder="Motto" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>Description</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group>
                    <input formControlName="description" nz-input placeholder="Description" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <!-- <div > -->
        <form *ngFor="let group of resourcesFormArray.controls" nz-form fxLayout [formGroup]="group">
            <div fxLayout style="align-self: center; width: 130px">
                <img style="width: 20px; height: 20px; margin: 0px 3px" [src]="group.controls.icon.value" alt="">
                <div style="margin: 0px 3px">{{group.controls.name.value}}</div>
            </div>
            <nz-form-item style="width: 15%">
                <nz-form-label nzFor="amount">Amount</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group>
                        <input formControlName="amount" nz-input placeholder="amount" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="width: 55%; padding-left: 5px">
                <nz-form-label nzFor="link" nzRequired>Link</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group>
                        <input formControlName="link" nz-input placeholder="link" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
        <!-- <div>{{group.controls.amount.value}}</div>
            <div>{{group.controls.link.value}}</div> -->

        <!-- </div> -->


        <nz-form-item style="margin-top: 20px">
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Add company</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>