.vacanciesChart {
    min-height: 550px; 
}

.salariesChart {
    min-height: 650px; 
}

.vacanciesRouteComments {
    height: 263px; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    word-break: break-word;
}

.vacanciesRouteCommentsNoForm {
    height: 393px; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    word-break: break-word;
}

.salariesRouteComments {
    height: 363px; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    word-break: break-word;
}

.salariesRouteCommentsNoForm {
    height: 493px; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    word-break: break-word;
}

.ant-form-item {
    margin: 0 !important;
}

::ng-deep.ant-card-body {  
    padding: 0 !important;
}

::ng-deep.ant-card-actions > li > span {
    width: 90%
}

::ng-deep.ant-comment-content-author span {
    height: auto;
}