.vacanciesChart {
    min-height: 550px; 
}

.salariesChart {
    min-height: 650px; 
}

.vacanciesRouteComments {
    height: 263px; 
    overflow: auto;
}

.vacanciesRouteCommentsNoForm {
    height: 393px; 
    overflow: auto;
}

.salariesRouteComments {
    height: 363px; 
    overflow: auto;
}

.salariesRouteCommentsNoForm {
    height: 493px; 
    overflow: auto;
}

.ant-form-item {
    margin: 0 !important;
}

::ng-deep.ant-card-body {  
    padding: 0 0 0 10px !important;
}

::ng-deep.ant-card-actions > li > span {
    width: 90%
}

::ng-deep.ant-comment-content-author span {
    height: auto;
}