<div nz-col>
    <h3 *ngIf="currentRoute === '/freelance'" nz-title nzType="secondary">Вакансии</h3>
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" *ngFor="let chart of charts" [ngClass]="(currentRoute ==='/salaries') ? 'salariesChart' : 'vacanciesChart'">
        <div *ngIf="chartsLoading; else chartsAreLoaded" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="19">
            <nz-skeleton style="padding-right: 20px" [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
        </div>
        <ng-template #chartsAreLoaded>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="19">
                <chart [type]="chart.type" [data]="chart.data" [options]="chart.options" [ngClass]="(currentRoute ==='/salaries') ? 'salariesChart' : 'vacanciesChart'">
                </chart>
                <div *ngIf="currentRoute !== '/salaries'; else salariesExplanation" nz-row nzType="flex" nzJustify="end"
                    nzAlign="middle" style="color: gray; padding-right: 50px;">
                    Последнее обновление: {{chart.lastUpdate | date }}
                </div>
                <ng-template #salariesExplanation>
                    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="color: gray; padding: 0 50px;">
                        <div>
                            *Данные сопоставляются по среднему значению между ресурсами
                        </div>
                        <div>
                            Последнее обновление: {{chart.lastUpdate | date }}
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>
        <div style="margin: 10px 0px 50px; height: 100%" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="5" nzXl="5">
            <nz-card *ngIf="commentsFormsArray.controls[charts.indexOf(chart)]" [nzActions]="[createComment]" style="width: 100%;">
                <div [ngClass]="(currentRoute ==='/salaries') ? 'salariesRouteComments' : 'vacanciesRouteComments'">
                    <div *ngIf="!commentsLoading">
                        <nz-comment *ngFor="let comment of comments[charts.indexOf(chart)]" [nzAuthor]="comment.username"
                            [nzDatetime]="time">
                            <nz-comment-content>
                                {{comment.text}}
                            </nz-comment-content>
                        </nz-comment>
                    </div>
                </div>
            </nz-card>
            <ng-template #createComment>
                <form nz-form [formGroup]="commentsFormsArray.controls[charts.indexOf(chart)]" (ngSubmit)="submitForm(commentsFormsArray.controls[charts.indexOf(chart)].value)">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group>
                                <input formControlName="username" nz-input placeholder="Name" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group>
                                <textarea rows="3" nz-input formControlName="text" placeholder="Comment"></textarea>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item style="margin-top: 10px">
                        <nz-form-control>
                            <button nz-button nzType="primary" [disabled]="!commentsFormsArray.controls[charts.indexOf(chart)].valid">Add comment</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </ng-template>
        </div>
    </div>

    <div *ngIf="currentRoute === '/freelance'">
        <h3 nz-title nzType="secondary" style="margin-top: 50px">Фрилансеры</h3>
        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" *ngFor="let chart of freelanceWorkersCharts"
            [ngClass]="(currentRoute ==='/salaries') ? 'salariesChart' : 'vacanciesChart'">
            <div *ngIf="freelanceWorkersLoading; else freelanceWorkersCharts" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19"
                nzXl="19">
                <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
            </div>
            <ng-template #freelanceWorkersCharts>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="19">
                    <chart [type]="chart.type" [data]="chart.data" [options]="chart.options" [ngClass]="(currentRoute ==='/salaries') ? 'salariesChart' : 'vacanciesChart'">
                    </chart>
                    <div *ngIf="currentRoute !== '/salaries'; else salariesExplanation" nz-row nzType="flex" nzJustify="end"
                        nzAlign="middle" style="color: gray; padding-right: 50px;">
                        Последнее обновление: {{chart.lastUpdate | date }}
                    </div>
                    <ng-template #salariesExplanation>
                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="color: gray; padding-right: 50px;">
                            <div style="margin-left: 120px;">
                                *Данные сопоставляются по среднему значению между ресурсами
                            </div>
                            <div>
                                Последнее обновление: {{chart.lastUpdate | date }}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <div style="margin: 10px 0px 50px; height: 100%" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="5" nzXl="5">
                <nz-card style="height: 100%; width: 100%">
                    <nz-comment nzAuthor="Nei Matros" [nzDatetime]="time">
                        <nz-comment-content>
                            <p>
                                А я вот не матрос
                            </p>
                        </nz-comment-content>
                    </nz-comment>
                    <nz-comment nzAuthor="John Galt" [nzDatetime]="time">
                        <nz-comment-content>
                            <p>
                                А кто это у нас тут парсит?
                            </p>
                        </nz-comment-content>
                    </nz-comment>
                </nz-card>
            </div>
        </div>
    </div>

</div>