<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
    <div fxLayout *ngFor="let chart of charts">
        <div fxLayout="column" fxFlex="80">
            <chart [type]="chart.type" [data]="chart.data" [options]="chart.options" style="height: 550px"></chart>
            <div style="
            color: gray; 
            padding-right: 50px; 
            align-self: flex-end;">
                Последнее обновление: {{chart.lastUpdate | date }}
            </div>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Стройка v0.3</div>
        </div>
    </div>

</div>