.companies-wrapper {
    width: 80vw;
    margin: 5% auto 0px;
}

.icons-row {
    padding-left: 5px;
}

.link-icon {
    padding: 5px
}

agm-map {
    height: 60vh;
}

.map-wrapper {
    border: 3px #fff solid;
}

nz-select {
    width: 200px;
    margin: 30px 0 30px;
}
