<div class="companies-wrapper">
    <h3 nz-title nzType="secondary">Карта вакансий</h3>
    <h4 nz-title nzType="secondary">Компаний в выбранном городе: {{companiesAmount}}</h4>
    <div class="map-wrapper">
        <agm-map [latitude]='selectedValue.lat' [longitude]='selectedValue.lng' [mapTypeId]='mapType' [zoom]="11"
            [fullscreenControl]="true">
            <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
                [opacity]="marker.alpha" [markerDraggable]="false" [iconUrl]="marker.website">
                <agm-info-window [maxWidth]="250" [disableAutoPan]="true">
                    <div class="info-window-title">
                        {{marker.name}}
                    </div>
                    <div *ngIf="marker.vacancies.length !== 0; else noVacanciesWindow">
                        <div style="padding: 40px 0 3px">
                            <div style="word-wrap: normal; padding: 3px 0 3px" nz-col
                                *ngFor="let vacancy of marker.vacancies">
                                <a href="{{vacancy.link}}">
                                    {{vacancy.title}}
                                </a>
                            </div>
                        </div>

                    </div>
                    <ng-template #noVacanciesWindow>
                        <div style="word-wrap: normal; padding: 40px 0 3px">
                            На данный момент открытых вакансий нет
                        </div>
                    </ng-template>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>



    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" nzXs="12" nzSm="12" nzMd="12" nzLg="7" nzXl="7" class="select-search-wrapper">
        <div nz-col nzSpan="4" style="margin-right: 20px">
            <nz-select style="width: 100%" [(ngModel)]="selectedValue.city"
                (ngModelChange)="fetchCompaniesLocationByCity(selectedValue.city)" nzAllowClear
                nzPlaceHolder="Выберите город">
                <nz-option *ngFor="let city of citiesList" nzValue="{{city.city}}" nzLabel="{{city.city}}"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input [(ngModel)]="searchValue" type="text" nz-input placeholder="Поиск" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template> -->
        </div>
    </div>


    <h3 nz-title nzType="secondary">Вакансии</h3>

    <nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="vertical">
        <nz-descriptions-item *ngFor="let company of companiesWithLocation" nzTitle={{company.name}}>
            <div [ngClass]="innerWidth > 751 ? '' : 'company-vacancies-body'" *ngFor="let vacancy of company.vacancies">
                <div>{{vacancy.title}}</div>
                <div style="padding-bottom: 20px"><a>{{vacancy.link}}</a></div>
                <div>{{vacancy.content}}</div>
                <nz-divider
                    *ngIf="company.vacancies.length > 1 && company.vacancies.indexOf(vacancy) !== company.vacancies.length - 1">
                </nz-divider>
            </div>
        </nz-descriptions-item>

    </nz-descriptions>

    <!-- <nz-table #basicTable [nzData]="markers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vacancies</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companiesWithLocation">
                <td style="background-color: whitesmoke;">
                    <div nz-col>
                        <b>{{ company.name }}</b>
                        <div *ngFor="let address of company.address">{{address.street}}</div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let vacancy of company.vacancies">
                        <div style="word-wrap: normal;">{{vacancy.title}}</div>
                        <a style="word-wrap: normal;">{{vacancy.link}}</a>
                        <div style="word-wrap: normal; padding: 5px 0 0">{{vacancy.content}}</div>
                        <nz-divider *ngIf="company.vacancies.length > 1"></nz-divider>
                    </div>
                    <nz-divider nzType="vertical"></nz-divider>
                </td>
            </tr>
        </tbody>
    </nz-table> -->


    <!-- <div *ngFor="let company of companiesList" style="margin-bottom: 60px;">
        <div *ngIf="loading; else companiesLoaded">
            <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
                <nz-card nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="7" [nzCover]="coverTemplate"
                    [nzBodyStyle]="{padding: 0}" [nzActions]="[links]">
                </nz-card>
                <ng-template #coverTemplate>
                    <div style="max-width: 250px;" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                        style="height: 250px; background-color: #eee; border: 3px #fff solid;">
                        <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px;"></i>
                        </ng-template>
                        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
                    </div>
                </ng-template>
                <ng-template #links>
                    <div nz-row nzType="flex" nzJustify="center">
                        <div class="link-icon">
                            <button nz-popover nz-button nzShape="circle">
                                <div style="width: 100%; height: 100%; border-radius: 50%; background-color: #eee">
                                </div>
                            </button>
                        </div>
                        <div class="link-icon">
                            <button nz-popover nz-button nzShape="circle">
                                <div style="width: 100%; height: 100%; border-radius: 50%; background-color: #eee">
                                </div>
                            </button>
                        </div>
                        <div class="link-icon">
                            <button nz-popover nz-button nzShape="circle">
                                <div style="width: 100%; height: 100%; border-radius: 50%; background-color: #eee">
                                </div>
                            </button>
                        </div>
                    </div>
                </ng-template>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="17" nzXl="17">
                    <nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered
                        [nzLayout]="innerWidth > 751 ? 'horizontal' : 'vertical'">
                        <nz-descriptions-item nzTitle="Название">
                            <nz-skeleton style="min-width: 100vw;" [nzParagraph]="{ rows: 0 }" [nzActive]="true">
                            </nz-skeleton>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Страна регистрации">
                            <nz-skeleton style="min-width: 100vw;" [nzParagraph]="{ rows: 0 }" [nzActive]="true">
                            </nz-skeleton>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Тип компании">
                            <nz-skeleton style="min-width: 100vw;" [nzParagraph]="{ rows: 0 }" [nzActive]="true">
                            </nz-skeleton>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Слоган">
                            <nz-skeleton style="min-width: 100vw;" [nzParagraph]="{ rows: 0 }" [nzActive]="true">
                            </nz-skeleton>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Описание">
                            <nz-skeleton style="min-width: 100vw;" [nzParagraph]="{ rows: 0 }" [nzActive]="true">
                            </nz-skeleton>
                        </nz-descriptions-item>
                    </nz-descriptions>
                </div>
            </div>
        </div>
        <ng-template #companiesLoaded>
            <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
                <nz-card nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="7" [nzCover]="coverTemplate"
                    [nzBodyStyle]="{padding: 0}" [nzActions]="[socialLinks, reviewsLinks, infoLinks]">
                </nz-card>
                <ng-template #coverTemplate>
                    <div style="max-width: 250px;" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                        style="height: 250px; background-color: #eee; border: 3px #fff solid;">
                        <img style="max-width: 60%; max-height: 80%;" [src]="company.logo" />
                    </div>
                </ng-template>
                <ng-template #socialLinks>
                    <div nz-row nzType="flex" nzJustify="center">
                        <div nz-text nzType="secondary">Social</div>
                    </div>
                    <div nz-row nzType="flex" nzJustify="start" class="icons-row">
                        <div *ngFor="let resource of company.resources.socialNetwork" class="link-icon">
                            <a [href]="resource.link">
                                <button nz-popover nz-button nzTitle="{{resource.resource.toUpperCase()}}"
                                    nzContent="{{resource.link}}" nzShape="circle" nzPlacement="rightTop">
                                    <img [src]="resource.icon" style="width: 100%; height: 100%; border-radius: 50%">
                                </button>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template #reviewsLinks>
                    <div nz-row nzType="flex" nzJustify="center">
                        <div nz-text nzType="secondary">Reviews</div>
                    </div>
                    <div nz-row nzType="flex" nzJustify="start" class="icons-row">
                        <div *ngFor="let resource of company.resources.reviews" class="link-icon">
                            <a [href]="resource.link">
                                <button nz-popover nz-button nzTitle="{{resource.resource.toUpperCase()}}"
                                    nzContent="{{resource.link}}" nzShape="circle" nzPlacement="rightTop">
                                    <img [src]="resource.icon" style="width: 100%; height: 100%; border-radius: 50%">
                                </button>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template #infoLinks>
                    <div nz-row nzType="flex" nzJustify="center">
                        <div nz-text nzType="secondary">Info</div>
                    </div>
                    <div nz-row nzType="flex" nzJustify="start" class="icons-row">
                        <div *ngFor="let resource of company.resources.info" class="link-icon">
                            <a [href]="resource.link">
                                <button nz-popover nz-button nzTitle="{{resource.resource.toUpperCase()}}"
                                    nzContent="{{resource.link}}" nzShape="circle" nzPlacement="rightTop">
                                    <img [src]="resource.icon" style="width: 100%; height: 100%; border-radius: 50%">
                                </button>
                            </a>
                        </div>
                        <div *ngFor="let resource of company.resources.ownWebsite" class="link-icon">
                            <a [href]="resource.link">
                                <button nz-popover nz-button nzTitle="{{resource.resource.toUpperCase()}}"
                                    nzContent="{{resource.link}}" nzShape="circle" nzPlacement="rightTop">
                                    <img [src]="resource.icon" style="width: 100%; height: 100%; border-radius: 50%">
                                </button>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="17" nzXl="17">
                    <nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered
                        [nzLayout]="innerWidth > 751 ? 'horizontal' : 'vertical'">
                        <nz-descriptions-item nzTitle="Название">
                            <b>{{company.name}}</b>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Страна регистрации">
                            {{company.registrationCountry.toUpperCase()}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Тип компании">
                            {{company.companyType}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Слоган">
                            {{company.motto}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Описание">
                            {{company.description}}
                        </nz-descriptions-item>
                    </nz-descriptions>
                </div>
            </div>
        </ng-template>

    </div> -->
</div>