.companies-wrapper {
    width: 80vw;
    margin: 5% auto 0px;
}

.icons-row {
    padding-left: 5px;
}

.link-icon {
    padding: 5px
}

agm-map {
    height: 60vh;
}

.map-wrapper {
    margin-bottom: 60px;
    border: 3px #fff solid;
}