<nz-layout>
    <nz-header nz-menu nzTheme="dark" nzMode="horizontal">
        <div nz-menu-item class="logo"></div>
        <div [routerLink]="['/vacancies']" nz-menu-item>Вакансии</div>
        <div nz-menu-item>Зарплаты</div>
        <div [routerLink]="['/freelance']" nz-menu-item>Фриланс</div>
        <div nz-menu-item>Стартапы</div>
    </nz-header>
    <nz-layout>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
    <nz-footer>©2019 Оп, посмотрел</nz-footer>
</nz-layout>