[nz-menu] {
    line-height: 64px;
}

nz-header {
    padding: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    background-image: url('../assets/images/logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 70px;
}

nz-content {
    padding: 5% 5%;
}

nz-footer {
    background: #001529;
    color: whitesmoke;
    padding: 5% 5%;
}

.footer-menu-title {
    padding: 5px 0;
    font-size: 20px;
    height: 40px;
}

.footer-menu-item {
    padding: 5px 0;
    color: #999;
}

.footer-menu-item-link {
    width: max-content;
    color: #999;
}

.footer-menu-item-link:hover {
    color: #40a9ff;
}

.mobile-menu-button {
    height: 100%; 
    width: 100px;
    text-align: center;
    border: none;
}

.mobile-menu-item {
    padding: 15px;
    font-size: 24px;
    color: whitesmoke;
}

.mobile-menu-item:active {
    color: #001529;
}

nz-divider {
    margin: 12px 0;
    width: 40px;
    min-width: 40px;
}

@media screen and (max-width: 750px) {
    .default-header {
        display: none
    }
    .mobile-header {
        display: flex;
    }
  }
  @media screen and (min-width: 751px) {
    .default-header {
        display: flex
    }
    .mobile-header {
        display: none;
    }
  }
