<nz-layout>
    <nz-header class="default-header" nz-menu nzTheme="dark" nzMode="horizontal">
        <div class="logo-wrapper">
            <div class="logo"></div>
        </div>
        <a [routerLink]="['/vacancies']" nz-menu-item nzMatchRouter>Вакансии</a>
        <a [routerLink]="['/salaries']" nz-menu-item nzMatchRouter>Зарплаты</a>
        <a [routerLink]="['/freelance']" nz-menu-item nzMatchRouter>Фриланс</a>
        <a [routerLink]="['/relocate']" nz-menu-item nzMatchRouter>Релокейт</a>
        <a [routerLink]="['/startups']" nz-menu-item nzMatchRouter>Стартапы</a>
        <a [routerLink]="['/companies']" nz-menu-item nzMatchRouter>
            <nz-badge [nzCount]="betaTemplate">
                Компании
            </nz-badge>
        </a>
        <ng-template #betaTemplate>
            <div class="ant-scroll-number-custom-component beta-badge">Beta</div>
        </ng-template>
    </nz-header>
    <nz-header class="mobile-header" nz-menu nzTheme="dark" nzMode="horizontal" nz-row nzType="flex"
        nzJustify="space-between" nzAlign="middle">
        <div class="logo-wrapper">
            <div class="logo"></div>
        </div>
        <button nz-button nzGhost nz-dropdown [nzTrigger]="trigger" [nzBackdrop]="backdrop"
            [nzDropdownMenu]="mobileMenu" [nzPlacement]="position" class="mobile-menu-button">
            <i style="color: #fff" nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #mobileMenu="nzDropdownMenu">
            <ul style="background: #001529;" nz-menu>
                <li [routerLink]="['/vacancies']" nz-menu-item class="mobile-menu-item">Вакансии</li>
                <li nz-menu-divider></li>
                <li [routerLink]="['/salaries']" nz-menu-item class="mobile-menu-item">Зарплаты</li>
                <li nz-menu-divider></li>
                <li [routerLink]="['/freelance']" nz-menu-item class="mobile-menu-item">Фриланс</li>
                <li nz-menu-divider></li>
                <li [routerLink]="['/relocate']" nz-menu-item class="mobile-menu-item">Релокейт</li>
                <li nz-menu-divider></li>
                <li [routerLink]="['/startups']" nz-menu-item class="mobile-menu-item">Стартапы</li>
                <li nz-menu-divider></li>
                <li [routerLink]="['/companies']" nz-menu-item class="mobile-menu-item">
                    <nz-badge [nzCount]="betaTemplate">
                        <span style="font-size: 24px;">
                            Компании
                        </span>
                    </nz-badge>
                    <ng-template #betaTemplate>
                        <div class="ant-scroll-number-custom-component beta-badge">Beta</div>
                    </ng-template>
                </li>
            </ul>
        </nz-dropdown-menu>
    </nz-header>
    <nz-layout>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
    <nz-footer>

        <div nz-row nzSpan="24">
            <div style="padding-right: 50px" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10">
                <div class="footer-menu-title">
                    <div class="footer-logo"></div>
                </div>
                <nz-divider></nz-divider>
                <div class="footer-menu-item">
                    Мы собираем данные из открытых источников и делаем их полезными.
                    Представленная здесь статистика позволяет анализировать,
                    сопоставлять и просто отслеживать различные изменения в IT индустрии.
                    Если вам тоже интересна польза статистических данных - свяжитесь с нами!
                </div>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="7" nzXl="7">
                <div nz-col nzSpan="24">
                    <div class="footer-menu-title">
                        Разделы
                    </div>
                    <nz-divider></nz-divider>
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="7" nzXl="7">
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1"
                                [routerLink]="['/vacancies']">Вакансии</a>
                        </div>
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1" [routerLink]="['/salaries']">Зарплаты</a>
                        </div>
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1" [routerLink]="['/freelance']">Фриланс</a>
                        </div>
                    </div>
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="7" nzXl="7">
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1" [routerLink]="['/relocate']">Релокейт</a>
                        </div>
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1" [routerLink]="['/startups']">Стартапы</a>
                        </div>
                        <div class="footer-menu-item">
                            <a class="footer-menu-item-link" nz-row nzSpan="1"
                                [routerLink]="['/companies']">Компании</a>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="7" nzXl="7">
                <div class="footer-menu-title">
                    Контакты
                </div>
                <nz-divider></nz-divider>
                <div class="footer-menu-item">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    statisfy.io@gmail.com
                </div>
            </div>
        </div>
    </nz-footer>
</nz-layout>