<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
    <div fxLayout>
        <chart fxFlex="80" [type]="type" [data]="data" [options]="options"></chart>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Афигенна</div>
            <div>Но это все иллюзия</div>
            <div>Некит не знает ангуляр</div>
        </div>
    </div>
    <div fxLayout>
        <chart fxFlex="80" [type]="type" [data]="data" [options]="options"></chart>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Афигенна</div>
            <div>Но это все иллюзия</div>
            <div>Некит не знает ангуляр</div>
        </div>
    </div>
    <div fxLayout>
        <chart fxFlex="80" [type]="type" [data]="data" [options]="options"></chart>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Афигенна</div>
            <div>Но это все иллюзия</div>
            <div>Некит не знает ангуляр</div>
        </div>
    </div>
    <div fxLayout>
        <chart fxFlex="80" [type]="type" [data]="data" [options]="options"></chart>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Афигенна</div>
            <div>Но это все иллюзия</div>
            <div>Некит не знает ангуляр</div>
        </div>
    </div>
    <div fxLayout>
        <chart fxFlex="80" [type]="type" [data]="data" [options]="options"></chart>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>Афигенна</div>
            <div>Но это все иллюзия</div>
            <div>Некит не знает ангуляр</div>
        </div>
    </div>

</div>